@model Microsoft_Employee_CRUD_Microservice.Models.Domain.Employee
@{
    //Layout = "_Layout";
}
<div class="mt-2" style="width:50%">
    <form asp-action="AddEmployee">
        <h2>Add Employee</h2>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
  
        @if (TempData["msg"] != null)
        {
            <div class="mb-3">
               @TempData["msg"]
            </div>
        }   
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/Employee/DisplayEmployees" class="btn btn-primary">All Employees</a>
</form>
</div>